/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*---------------------------------------*/

body {
  color: #ffffff;
}

.special-bg {
  background-color: rgba(1, 74, 28, 0.7);
}

.special-bt {
  border-top: 1px solid #17ff35;
}

.special-bb {
  border-bottom: 1px solid #17ff35;
}

.special-font {
  color: #08ff67;
  font-weight: bold;
}
#random-number, #player-number {
    height: 150px;
    width: 100%;
    padding: 25px;
    margin: 0 auto 25px 0;
    border: 2px solid #26ff7d;
    background-color: rgba(38, 255, 125, .3);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.target, .score {
  margin-top: 25px;
}

#crystals {
  text-align: center;
}

#crystals img {
  cursor: pointer;
  outline: none;
  width: 135px;
  height: 135px;
  outline: none;
  margin-right: 100px;
}

#crystals img:last-child {
  margin-right: 0;
}

.mt-50 {
  margin-top: 50px;
}

.center {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.crystal-image {
  -webkit-filter: drop-shadow(0px 0px 7px #7eff94);
  filter: drop-shadow(0px 0px 7px #7eff94);
}

.crystal-image:hover {
  filter: drop-shadow(0px 0px 7px #7eff94);
  transform: scale(.8);
  transition: 300ms ease all;
}

#hidden {
    position: absolute;
    max-width: 300px;
    background-color: rgba(0,0,0,.8);
    padding: 30px;
    z-index: 1000;
    margin: 20px;
    left: 35%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}