/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*------------------
-----------------------*/

#random-number, #player-number {
    height: 150px;
    width: 100%;
    padding: 25px;
    margin: 0 auto 25px 0;
    border: 2px solid #000000;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;

}

.target, .score {
  margin-top: 25px;
}

#crystals img {
  cursor: pointer;
  outline: none;
  width: 135px;
  height: 135px;
  outline: none;
  margin-right: 100px;
}

#crystals img:last-child {
  margin-right: 0;
}

/* #btn1 {
  background: url(../images/crystal_1.png) center center no-repeat;
}

#btn2 {
  background: url(../images/crystal_2.png) center center no-repeat;
}

#btn3 {
  background: url(../images/crystal_3.png) center center no-repeat;
}

#btn4 {
  background: url(../images/crystal_4.png) center center no-repeat;
} */

.mt-25 {
  margin-top: 25px;
}